body,
html {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat";
  background: #220954;
}
.wrapper {
  position: relative;
  overflow: hidden;
  nav {
    width: 20%;
    float: right;
    background-color: #5923c6;
    height: calc(100vh -4em);
    font-size: 1.4em;
    line-height: 1.5em;
    color: white;
    padding: 2em;
  }
  ul {
    list-style-type: none;
    padding: 0;
    li a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 1em 0;
      font-weight: bold;
    }
  }
  p {
    color: #946be7;
  }
}
